modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 22477
externalPort = 80

[userenv]

[userenv.shared]
NODE_ENV = "development"
JWT_EXPIRATION = "24h"
ADMIN_USERNAME = "admin"
GOOGLE_SHEETS_ID = "1Pn-Tcjq1albYU2lrxtLgJ6yzBDoXptMRlL_iUcKJfP0"
VITE_GROOM_NICKNAME = "Wisesa"
VITE_GROOM_FULLNAME = "Ignatius Wisesa"
VITE_GROOM_FATHER = "Muda Isa Ariantana"
VITE_GROOM_MOTHER = "Agnes Rengga Indrati"
VITE_BRIDE_NICKNAME = "Nirani"
VITE_BRIDE_FULLNAME = "Nirani Waruwu"
VITE_BRIDE_FATHER = "Alm. Sökhizoya Waruwu"
VITE_BRIDE_MOTHER = "Arena Gulö"
VITE_WEDDING_DATE = "June 27ᵗʰ 2026"
VITE_WEDDING_DAY = "Saturday"
VITE_CEREMONY_LABEL = "Gereja"
VITE_CEREMONY_TIME = "10:30 AM - 12:00 PM"
VITE_CEREMONY_VENUE = "St. Peter's Cathedral"
VITE_CEREMONY_ADDRESS = "Jl. Merdeka No.14, Kota Bandung"
VITE_CEREMONY_MAP_LINK = "https://share.google/LTPoAMeTpi1ush6h3"
VITE_RECEPTION_TIME = "05:00 PM - 09:00 PM"
VITE_RECEPTION_VENUE = "Bumi Sangkuriang"
VITE_RECEPTION_ADDRESS = "Jl. Kiputih No.12, Ciumbuleuit, Kota Bandung"
VITE_RECEPTION_MAP_LINK = "https://maps.app.goo.gl/HvD87xuT7pXb5Cev8"
VITE_TIMELINE_1_TIME = "10:30 AM"
VITE_TIMELINE_1_EVENT = "Blessing Ceremony"
VITE_TIMELINE_1_ICON = "⛪"
VITE_TIMELINE_1_TYPE = "G"
VITE_TIMELINE_2_TIME = "05:00 PM"
VITE_TIMELINE_2_EVENT = "Wedding Reception"
VITE_TIMELINE_2_ICON = "🎉"
VITE_TIMELINE_2_TYPE = "R"
VITE_TIMELINE_3_TIME = "09:00 PM"
VITE_TIMELINE_3_EVENT = "After Party"
VITE_TIMELINE_3_ICON = "🍾"
VITE_TIMELINE_3_TYPE = "R"
VITE_BANK_1_NAME = "Commonwealth Bank"
VITE_ACCOUNT_1_NAME = "Ignatius Wisesa"
VITE_ACCOUNT_1_NUMBER = "10983987"
VITE_BANK_2_NAME = "Bank Central Asia (BCA)"
VITE_ACCOUNT_2_NAME = "Nirani Waruwu"
VITE_ACCOUNT_2_NUMBER = "0083510801"
VITE_BANK_1_FLAG = "🇦🇺"
VITE_ACCOUNT_1_BSB = "0621-188"
VITE_BANK_2_FLAG = "🇮🇩"
VITE_ACCOUNT_2_BSB = ""

[nix]
channel = "stable-25_05"
